doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')

  //- Primary Meta Tags
  title RoboSwarm - WordPress Load Testing
  meta(name='title', content='RoboSwarm - WordPress Load Testing')
  meta(name='description', content='RoboSwarm is a WordPress load testing platform that requires no coding experience to use.')
  //- WIP WIP WIP WIP
  meta(name='keywords' content='roboswarm, locust, locust load testing, locust saas, locust service')
  link(rel='icon' type='image/png' href='assets/images/favicon.png')

  //- Open Graph / Facebook
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://roboswarm.dev/')
  meta(property='og:title', content='RoboSwarm - WordPress Load Testing')
  meta(property='og:description', content='RoboSwarm is a WordPress load testing platform that requires no coding experience to use.')

  //- WIP WIP WIP WIP
  meta(property='og:image', content='https://roboswarm.us/marketing-static/images/roboswarm-social.png')

  //- Twitter
  meta(property='twitter:card', content='summary_large_image')
  meta(property='twitter:url', content='https://roboswarm.dev/')
  meta(property='twitter:title', content='RoboSwarm - WordPress Load Testing')
  meta(property='twitter:description', content='RoboSwarm is a WordPress load testing platform that requires no coding experience to use.')

  //- WIP WIP WIP WIP
  meta(property='twitter:image', content='https://roboswarm.us/marketing-static/images/roboswarm-social.png')

  //- Styles
  link(rel='stylesheet' href='/marketing-static/css/bootstrap.min.css')
  link(rel='stylesheet' href='/marketing-static/css/style.css')
  link(rel='stylesheet' href='/marketing-static/css/accordian.css')
  link(rel='stylesheet' href='/marketing-static/css/owl/owl.carousel.min.css')
  link(rel='stylesheet' href='/marketing-static/css/owl/owl.theme.default.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap' rel='stylesheet')

//- NAVBAR
nav#navbar.navbar.fixed-top.navbar-expand-lg.navbar-header.navbar-mobile
  .navbar-container.container
    //- LOGO
    .navbar-brand
      a.navbar-brand-logo(href='https://roboswarm.dev')
        img(src='/marketing-static/images/roboswarm_narrow_light.png')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-around
      ul.navbar-nav.menu-navbar-nav
        li.nav-item
          a.nav-link(href='#services')
            p.nav-link-menu Features
        li.nav-item
          a.nav-link(href='#pricing')
            p.nav-link-menu Pricing
        li.nav-item
          a.nav-link(href='https://docs.roboswarm.dev')
            p.nav-link-menu Documentation
        li.nav-item
          a.nav-link(href='#contact')
            p.nav-link-menu Contact
        li.nav-item
          a.nav-link(href='https://app.roboswarm.dev/auth/login')
            p.nav-link-menu Login
      ul.navbar-nav
        li.nav-item
          a.nav-link.learn-more-btn(href='https://app.roboswarm.dev/auth/register') Signup
//- SECTION LABEL
#top
//- WRAPPER
.wrapper
  .header
    .container.header-container
      .col-lg-6.header-img-section
        img(src='/marketing-static/images/roboswarm_screenshot_details.png')
      .col-lg-5.offset-lg-1.header-title-section
        h1.header-title WordPress Load Testing
        p.header-title-text
          | RoboSwarm is a WordPress Load Testing service that requires no coding or load testing knowledge. Get started now, for free.
        .learn-more-btn-section
          a.nav-link.learn-more-btn.btn-invert(href='https://app.roboswarm.dev/auth/register') Sign Up for Free
  //- STRATEGY SECTION
  .strategy-section
    .strategy-section-bg-graphics-section
      img(src='/marketing-static/images/strategy-section-bg.png')
    .container.strategy-container
      .col-lg-4.col-md-6.col-xs-8.offset-xs-2.strategy-card-section
        .strategy-card
          //- .strategy-card-icon-section
          //-   img(src='/marketing-static/images/strategy-1.png')
          h2 Performance
          p How well will your WordPress site perform under heavy load? Let RoboSwarm help you discover where you WordPress site's limits are.
      .col-lg-4.col-md-6.col-xs-8.offset-xs-2.strategy-card-section
        .strategy-card
          //- .strategy-card-icon-section
          //-   img(src='/marketing-static/images/strategy-2.png')
          h2 Reliability
          p Will your WordPress site be continuously available during a period of heavy load? RoboSwarm can help you discover the answer.
      .col-lg-4.col-md-6.col-xs-8.offset-xs-2.strategy-card-section
        .strategy-card
          //- .strategy-card-icon-section
          //-   img(src='/marketing-static/images/strategy-3.png')
          h2 Confidence
          p Can you say "Yes, my WordPress site will handle 500 concurrent users and respond in under 200ms."? If not, RoboSwarm can help.
      //- .col-lg-3.col-md-6.col-xs-8.offset-xs-2.strategy-card-section
      //-   .strategy-card
      //-     .strategy-card-icon-section
      //-       img(src='/marketing-static/images/strategy-4.png')
      //-     h2 Education
      //-     p Stay informed on all our tools and technologies
  #services
  .services-section
    .services-section-bg-graphics
      img(src='/marketing-static/images/services-section-bg.png')
    .container.services-container
      .col-lg-5.services-title-section
        h2.services-title WordPress Load Testing Made Simple
        p.services-text
          | RoboSwarm makes WordPress load testing simple. We offer common WordPress load testing scenarios pre-configured so you don't have to worry about the details. Need something more specific? We can help with that too.
      .col-lg-6.offset-lg-1.services-header-img-section
        img(src='/marketing-static/images/requests.png')
  .services-sales-section
    .container.services-container
      .col-lg-6.services-header-img-section.padding-0
        img(src='/marketing-static/images/distribution.png')
      .col-lg-5.offset-lg-1.services-title-section
        h2.services-title High Scalability
        p.services-text
          | RoboSwarm can take your WordPress load testing to the next level. Be it 20, 200, 2000 users, RoboSwarm can handle whatever you need. Traffic can be distributed around the globe in 8 different data centers.
        .learn-more-btn-section
          a.nav-link.learn-more-btn.btn-invert(href='#pricing') View Pricing
  #pricing
  //- PRICING
  .pricing-section
    .pricing-section-left-bg-graphics
      img(src='/marketing-static/images/pricing-section-left-bg.png')
    .pricing-section-right-bg-graphics
      img(src='/marketing-static/images/pricing-section-right-bg.png')
    .container.pricing-container
      .pricing-title
        h2 Pricing
        p
          | RoboSwarm offers several different plans based on your needs.
      //- PRICE PLANS
      .pricing-plan-cards-section
        .col-lg-4.col-md-8.col-xs-10.pricing-card-section
          .pricing-card
            p.pricing-rate $0
            p.pricing-period Free
            p.pricing-text A free plan to see how RoboSwarm works
            .pricing-all-plan-features-section.advance-plan-features-section
              ul
                li 5 Load Tests / Month
                li 20 Minutes Max Load Test Duration
                li 5 Virtual Users
                li Email Support
            a.nav-link.learn-more-btn(href='https://app.roboswarm.dev/auth/register') Start for Free
        .col-lg-4.col-md-8.col-xs-10.pricing-card-section
          .pricing-card.featured
            p.pricing-rate $29/m
            p.pricing-period Startup
            p.pricing-text For growing companies that need to scale.
            .pricing-all-plan-features-section.advance-plan-features-section
              ul
                li 20 Load Tests / Month
                li 2 Hours Max Load Test Duration
                li 500 Virtual Users
                li Schedule Video Chat &amp; Email Support
            a.nav-link.learn-more-btn(href='https://app.roboswarm.dev/auth/register') Start for Free
        .col-lg-4.col-md-8.col-xs-10.pricing-card-section
          .pricing-card
            p.pricing-rate $59/m
            p.pricing-period Enterprise
            p.pricing-text Increased limits for larger sites and bigger audiences
            .pricing-all-plan-features-section.advance-plan-features-section
              ul
                li 50 Load Tests / Month
                li 4 Hours Max Load Test Duration
                li 2000 Virtual Users
                li Schedule Video Chat &amp; Email Support
            a.nav-link.learn-more-btn(href='https://app.roboswarm.dev/auth/register') Start for Free
  //- SECTION LABEL
  //- #clients
  //- //- CLIENTS
  //- .clients-section
  //-   .container.clients-container
  //-     .clients-title-section
  //-       p.clients-subtitle Our clients
  //-       h2.clients-title Client Showcase
  //-     .clients-slider
  //-       .owl-carousel.owl-theme.clients-slider-section
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo1.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo2.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo3.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo4.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo1.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo2.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo3.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo4.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo1.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo2.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo3.png')
  //-         .item.client-logo-section
  //-           img(src='/marketing-static/images/logo4.png')
  //- //- SECTION LABEL
  //- #news
  //- //- NEWS
  //- .blog-section
  //-   .blog-section-right-bg
  //-     img(src='/marketing-static/images/blog-section-right-bg.png')
  //-   .blog-section-left-bg
  //-     img(src='/marketing-static/images/blog-section-left-bg.png')
  //-   .container.blog-container
  //-     .blog-title-section
  //-       p.blog-subtitle Recent updates
  //-       h2.blog-title Featured Stories
  //-     .blog-posts-section
  //-       .col-lg-4.col-md-8.col-xs-10.blog-post-card-container
  //-         .blog-post-card
  //-           .blog-post-icon
  //-             img(src='/marketing-static/images/blog-card-1.png')
  //-           h3.blog-post-title Remote Working
  //-           p.blog-post-text Making it easier to connect with every client worldwide
  //-           a.blog-post-link(href='#news') Read More
  //-       .col-lg-4.col-md-8.col-xs-10.blog-post-card-container
  //-         .blog-post-card
  //-           .blog-post-icon.mb-4
  //-             img(src='/marketing-static/images/blog-card-2.png')
  //-           h3.blog-post-title Google Rankings
  //-           h4.blog-post-subtitle Keywords
  //-           p.blog-post-text.mb-4
  //-             | We&apos;ve ranked number one on Google for multiple keywords. Read about our SEO strategies
  //-           a.nav-link.learn-more-btn(href='#news') Read More
  //-       .col-lg-4.col-md-8.col-xs-10.blog-post-card-container
  //-         .blog-post-card
  //-           .blog-post-icon
  //-             img(src='/marketing-static/images/blog-card-3.png')
  //-           h3.blog-post-title Communication
  //-           p.blog-post-text We&apos;ve made our client support services easy to access
  //-           a.blog-post-link(href='#news') Read More
  //- SECTION LABEL
  #contact
  //- CONTACT
  .contact-section
    .container.contact-container
      .col-md-6.contact-title-section
        p.contact-subtitle Contact
        h2.contact-title
          | Questions?
          br
          | Get in touch
        p.contact-text
          | We&apos;ll be happy to help answer any of your questions. Send us an email and we&apos;ll get back to you shortly.
        .learn-more-btn-section
          a.nav-link.learn-more-btn.btn-invert(href='mailto:jack@kernl.us') Contact Us
      .col-md-6.contact-header-img
        img(src='/marketing-static/images/contact-header-img.png')
  //- FOOTER
  .footer-section
    .footer-section-bg-graphics
      img(src='/marketing-static/images/footer-section-bg.png')
    .container.footer-credits
      p &copy; 2020 RoboSwarm

//- Footer JS
script(src='/marketing-static/js/smoothscroll.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
script(src='/marketing-static/js/owl/owl.carousel.js')
script(src='/marketing-static/js/accordian.js')

//- Header Scrolling
script(type='text/javascript').
  $(window).scroll(function() {
    if ($(this).scrollTop() > 20) {
      $('#navbar').addClass('header-scrolled');
    } else {
      $('#navbar').removeClass('header-scrolled');
    }
  });
script.
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
      items: 4,
      loop: true,
      nav: true,
      autoplay: true,
      autoplayTimeout: 2000,
      autoplayHoverPause: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 3
        },
        1000: {
          items: 4
        }
      }
    });
  });
